body {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    padding-bottom:25px;

}
a.nav-link.dropdown-toggle{
    color: black;
    
}
.home-nav {
    margin-bottom: 20px;
}
.logo a {
    color: #333;
}
.logo a:hover {
    text-decoration: none;
}
.accom-image-in-reservation{
    width: 200px;
    height: 125px;
}

.dropdown-menu {
    font-size: 16px;
}
.dropdown-item {
    text-align: left;
    padding-left: 12px;
    display: block;
}

.thumbnail a>img, .thumbnail>img {
    width:360px;

}

.jumbotron text-center{
    font-family: 'Bevan', cursive;
}
.page-header{
    background-color: cadetblue;
}

.cover-card {
    border: 2px solid white;
    background: silver;
    padding: 0px;
    margin: 0px;
    height:200px;
}
.cover-card > p {
    text-align: center;
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
}
.cover-card:hover > p {
    background-color: rgba(6,6,6,0.3);
    color: white;
    text-shadow: 3px 3px 10px #000;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}

.item.list-group-item:after
{
    clear: both;
}

.list-group-item-text
{
    margin: 0 0 11px;
}

.btn.btn-outline-light
{
    background-color: white;
}

.minimal {
    width: 0px;
}

.accommodation-page h2 {
    font-size: 27px;
}

.accommodations img {
    width:100%;
}

.date-selection input[type="text"] {
    height: 31px;
    border-radius: 2px;
    border: 1px solid #777;
    width: 40%;
    text-align: center;
}
.date-selection input[type="submit"] {
    margin: 5px 0 0 0;
}
.date-selection label {
    margin-right: 8px;
}
.available-rooms {
    margin-bottom:0;
}
.fa-rocket {
    font-size: 85px;
    margin-left: 15px;
}


.form-group{
    margin-bottom: 15px;
    padding: 0px 5px 0px 5px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-registration{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center-registration{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 700px;
    padding: 40px 40px;

}

.registration-button{
    margin-top: 5px;
}

.main-center-login {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 350px;
    padding: 40px 40px;
}

#hidden-acc-id {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.search-button{
    margin-top: 3.2%;

}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

#slider-thumbs {
    height: 565px;
    overflow-y: scroll;
    white-space: nowrap;
}

.modal-lg {
    width: 1110px;
}

.image-in-reservation-listing{
    width: 100px;
    height: 63px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
.register-planet-accommodation {
    float: right;
}
.register-planet-accommodation a {
    margin-left: 10px;
}