<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Room Reservation | Space Travel</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>

    <!--navigation bar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/">Main Page</a></li>

                <th:block th:if="${loggedIn}">
                    <li><a href="/logout">Logout</a></li>
                </th:block>

                <th:block th:unless="${loggedIn}">
                    <li><a href="/customer-registration">Registration</a></li>
                    <li><a href="/login">Login</a></li>
                </th:block>
            </ul>

            <th:block th:if="${loggedIn}">
                <p class="navbar-text pull-right" id="identification" th:text="${customername}">Customer's name</p>
            </th:block>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1 class="logo"><a href="/">Space<i class="fa fa-rocket" aria-hidden="true"></i> Travel</a></h1>
        <h3>Room reservation</h3>
    </div>

    <div class="container">

        <div class="well well-sm text-center">
            <h2 th:text="${accomodation.getName()}">Acc Name</h2>
            <div class="row">
                <div class="col-sm-4">

                        <img id="accom-image-in-reservation" th:attr="src='/img_collection/' + ${accomodation.getPicture().fileName}" alt="IMG"/>

                </div>
                <div class="col-sm-4">
                    <p><h3><i class="fa fa-info-circle" aria-hidden="true"></i> Information:</h3></p>
                    <p th:text="${accomodation.getDescription()}">Acc Desc</p>
                </div>
                <div class="col-sm-4">
                    <p><h3><i class="fa fa-globe" aria-hidden="true"></i> Planet:</h3></p>
                    <p th:text="${accomodation.getPlanet().getName()}">Acc Planet</p>
                </div>
            </div>
        </div>

        <div class="well well-sm text-center">

            <div id="error-messages" class="alert alert-danger" th:if="${#lists.size(errors)>0}">
                <ul th:each="error : ${errors}">
                    <li th:text="${error}"></li>
                </ul>
            </div>

            <form id="date-filters" action="/reservation" method="post" class="inline-form date-selection" th:style="${#lists.size(roomlist) != 0} ? 'visibility: visible' : 'visibility: hidden'">
                <div class="form-group">
                    <div class="col-md-5">
                        <label for="start-date-selection">Start date:</label>
                        <input id="start-date-selection" type="text" name="start-date-year" th:value="${dateelements[0]}" class="four-num" maxlength="4" minlength="4" placeholder="yyyy"></input>
                        <span>/</span>
                        <input type="text" name="start-date-month" th:value="${dateelements[1]}" class="two-num" maxlength="2" minlength="2" placeholder="mm"></input>
                        <span>/</span>
                        <input type="text" name="start-date-day" th:value="${dateelements[2]}" class="two-num" maxlength="2" minlength="2" placeholder="dd"></input>
                    </div>
                    <div class="col-md-5">
                        <label for="end-date-selection">End date:</label>
                        <input id="end-date-selection" type="text" name="end-date-year" th:value="${dateelements[3]}" class="four-num" maxlength="4" minlength="4" placeholder="yyyy"></input>
                        <span>/</span>
                        <input type="text" name="end-date-month" th:value="${dateelements[4]}" class="two-num" maxlength="2" minlength="2" placeholder="mm"></input>
                        <span>/</span>
                        <input type="text" name="end-date-day" th:value="${dateelements[5]}" class="two-num" maxlength="2" minlength="2" placeholder="dd"></input>

                        <input type="text" name="selected-accomodation-id" th:value="${accomodation.getId()}" th:style="${'visibility: hidden'}"></input>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Search Room" class="btn btn-primary" />
                    </div>
                </div>
            </form>

            <div class="text-center" th:text="${'No rooms.'}" th:style="${#lists.size(roomlist) == 0} ? 'visibility: visible' : 'visibility: hidden'"></div>

        </div>

        <div class="well well-sm">
            <div id="inner-box">
                <div th:if="${#lists.size(roomlist) > 0}">
                    <table class="table table-hover available-rooms">
                        <thead>
                        <tr>
                            <th class="center">Room Type</th>
                            <th class="center">Beds</th>
                            <th class="center">Price (Bitcoin <i class="fa fa-btc" aria-hidden="true"></i>)</th>
                            <th class="center" th:if="${reservable}">Reservation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="room : ${roomlist}">
                            <td th:text="${room.getRoomType().getName()}">xx</td>
                            <td th:text="${room.getRoomType().getBednumber()}">0</td>
                            <td th:text="${room.getPrice()}">0</td>
                            <td th:if="${reservable}">
                                <form action="/save" method="post">
                                    <input name="selected-room-id" type="hidden" th:value="${room.getId()}" th:style="${'visibility: hidden'}" />
                                    <input name="start-date-year" type="hidden" th:value="${dateelements[0]}" th:style="${'visibility: hidden'}" />
                                    <input name="start-date-month" type="hidden" th:value="${dateelements[1]}" th:style="${'visibility: hidden'}" />
                                    <input name="start-date-day" type="hidden" th:value="${dateelements[2]}" th:style="${'visibility: hidden'}" />
                                    <input name="end-date-year" type="hidden" th:value="${dateelements[3]}" th:style="${'visibility: hidden'}" />
                                    <input name="end-date-month" type="hidden" th:value="${dateelements[4]}" th:style="${'visibility: hidden'}" />
                                    <input name="end-date-day" type="hidden" th:value="${dateelements[5]}" th:style="${'visibility: hidden'}" />
                                    <button type="submit" class="btn btn-success push-right">Reserve</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div>
            <a th:href="@{'~/' + ${accomodation.getPlanet().getId()}+'/accomodation'}" role="button" class="btn btn-primary">Back to Accommodations</a>
        </div>
    </div>
</body>
</html>